---
layout: default
---

{% include home-header.html %}

<h1 style="text-transform: uppercase; font-size: 1.5em;">Education/Work</h1>
<p style="font-size: 0.9em; line-height: 1.4;">I am currently a Professor at the School of Computer Science and Technology, Tiangong University. I received my Ph.D. from Beihang University in 2019, supervised by Prof. Zhenwei Shi. I received my M.D. and B.S. from Yanshan University in 2015 and 2012. During 2019 - 2024, I was a postdoc research fellow at Nankai University. I study remote sensing and multi-objective optimization.</p>
<hr> <!-- 分割线 -->

<h1 style="text-transform: uppercase; font-size: 1.5em;">Henopage</h1>
<p style="font-size: 0.9em; line-height: 1.4;">Personal Pages: <a href="https://xuxiaa.github.io/">https://xuxiaa.github.io/</a></p>
<p style="font-size: 0.9em; line-height: 1.4;">Google Scholar: <a href="https://scholar.google.com/citations?user=F14qOygAAAAJ&hl=zh-CN">https://scholar.google.com/citations?user=F14qOygAAAAJ&hl=zh-CN</a></p>
<hr> <!-- 分割线 -->
