---
layout: default
---

{% include home-header.html %}

<h1 style="text-transform: uppercase;">Education/Work</h1>

<p>I am currently a Professor at the School of Computer Science and Technology, Tiangong University. I received my Ph.D. from Beihang University in 2019, supervised by Prof. Zhenwei Shi. I received my M.D. and B.S. from Yanshan University in 2015 and 2012. During 2019 - 2024, I was a postdoc research fellow at Nankai University. I study remote sensing and multi-objective optimization.</p>

<h1 style="text-transform: uppercase;">Henopage</h1>

<p>Personal Pages: https://xuxiaa.github.io/ Google Scholar: https://scholar.google.com/citations?user=F14qOygAAAAJ&hl=zh-CN</p>

<h1 style="text-transform: uppercase;">News</h1>

<p>2024.06: Join Tiangong University.</p>

