---
layout: default
---

{% include home-header.html %}

<p style="font-size: 0.9em; line-height: 1.4;">Object-Oriented Programming-Java, International Students (English), 2024/2025 Fall, 21/45 Hours.</p>
<p style="font-size: 0.9em; line-height: 1.4;">Foundations of Programming Design, undergraduate course, 2020/2021 Fall, 2021/2022 Fall, 2022/2023 Fall, 2023/2024 Fall, 64/64 Hours.</p>
<p style="font-size: 0.9em; line-height: 1.4;">Internet of Things cutting-edge technology, undergraduate course, 2022/2023 Fall, 2/32 Hours.</p>
<p style="font-size: 0.9em; line-height: 1.4;">Neural Network Engineering, undergraduate course, 2021/2022 Fall, 2/48 Hours.</p>
<p style="font-size: 0.9em; line-height: 1.4;">Fundamentals of Python Programming, undergraduate course, 2019/2020 Fall, 68/68 Hours.</p>



