---
layout: default
---

{% include home-header.html %}

<ul style="list-style-type: disc; font-size: 0.9em; line-height: 1.4;">
  <li>IEEE Transactions on Image Processing.</li>
  <li>IEEE Transactions on Geoscience and Remote Sensing.</li>
  <li>ISPRS Journal of Photogrammetry and Remote Sensing.</li>
  <li>IEEE Transactions on Neural Networks and Learning Systems.</li>
  <li>IEEE Transactions on Cybernetics.</li>
  <li>Applied Soft Computing.</li>
  <li>IEEE Journal of Selected Topics in Applied Earth Observations and Remote Sensing.</li>
  <li>IEEE Geoscience and Remote Sensing Letters.</li>
  <li>Remote Sensing.</li>
  <li>International Journal of Remote Sensing.</li>
  <li>Infrared Physics & Technology.</li>
  <li>Electronics.</li>
</ul>

