---
layout: default
---

{% include home-header.html %}

<ul style="list-style-type: disc; font-size: 0.9em; line-height: 1.4;">
  <li> Sumin Wang, Yuyou Gao, Yongdao Zhou, Bin Pan, <strong>Xia Xu*</strong>, Tao Li. Reducing the statistical error of generative adversarial networks using space-filling sampling. Stat 13 (1), e655, 2023. <a href="https://onlinelibrary.wiley.com/doi/10.1002/sta4.655" target="_blank">[paper]</a></li>
  <li>Qiaoying Qu, Bin Pan, <strong>Xia Xu*</strong>, Tao Li and Zhenwei Shi. Unmixing Guided Unsupervised Network for RGB Spectral Super-Resolution. IEEE Transactions on Image Processing, vol. 32, pp. 4856-4867, 2023. <a href="https://doi.org/10.1109/TIP.2023.3299197" target="_blank">[paper]</a> <a href="https://github.com/Lab-PANbin/UnGUN-Unmixing-Guided-Unsupervised-Network-for-RGB-Spectral-Super-Resolution" target="_blank">[code]</a></li>
  <li><strong>Xia Xu</strong>, Xinyu Song, Tao Li, Zhenwei Shi and Bin Pan. Deep Autoencoder for Hyperspectral Unmixing via Global-Local Smoothing. IEEE Transactions on Geoscience and Remote Sensing, vol. 60, no. 5524216,2022. [[Paper]](https://doi.org/10.1109/TGRS.2022.3152782)</li>

</ul>
