---
layout: default
---

{% include home-header.html %}


<p style="font-size: 0.9em; line-height: 1.4;">Committee Member, China Communication Association technology Committee.</p>
<p style="font-size: 0.9em; line-height: 1.4;">Remote Sensing, Special Issue: "Imagery Classification and Feature Extraction Based on Hyperspectral Remote Sensing". Guest Editor. Ongoing.</p>
<p style="font-size: 0.9em; line-height: 1.4;">Remote Sensing, Special Issue: "Pattern Recognition and Image Processing for Remote Sensing II". Guest Editor. Closed.</p>


