---
layout: default
---

{% include home-header.html %}

<ul style="list-style-type: disc; font-size: 0.9em; line-height: 1.4;">
  <li>2019 ACM China Excellent Doctoral Dissertation Award (Tianjin Branch), 2021.</li>
  <li>Beihang Doctoral Academic Excellence Fund, 2018.</li>
  <li>National Scholarship, 2018.</li>
  <li>Beihang Excellent academic paper Award, 2018.</li>
  <li>Beihang outstanding graduate student, 2018.</li>
  <li>Ministry of Industry and Information Technology Innovation and Entrepreneurship scholarship, 2017.</li>
  <li>Excellent master's degree thesis of Hebei Province, 2016.</li>
  <li>Excellent master's thesis of Yanshan University, 2016.</li>
  <li>Beihang Doctoral Student Scholarship, 2015.</li>
</ul>

