---
layout: default
---

{% include home-header.html %}

<h1 style="text-transform: uppercase; font-size: 1.5em;">Education/Work</h1>
<p style="font-size: 0.9em; line-height: 1.4;">I am currently a Professor at the School of Computer Science and Technology, Tiangong University. I received my Ph.D. from Beihang University in 2019, supervised by Prof. <a href="https://levir.buaa.edu.cn/" target="_blank">Zhenwei Shi</a>. During 2019 - 2024, I was a postdoc research fellow at Nankai University, working with Prof. <a href="https://ics.nankai.edu.cn/" target="_blank">Tao Li</a>. I study remote sensing and multi-objective optimization.</p>
<p style="font-size: 0.9em; line-height: 1.4;">Email: xuxia@tiangong.edu.cn</p>
<p style="font-size: 0.9em; line-height: 1.4;">Personal Pages: <a href="https://xuxiaa.github.io/" target="_blank">https://xuxiaa.github.io/</a></p>
<p style="font-size: 0.9em; line-height: 1.4;">Google Scholar: <a href="https://scholar.google.com/citations?user=F14qOygAAAAJ&hl=zh-CN" target="_blank">https://scholar.google.com/citations?user=F14qOygAAAAJ&hl=zh-CN</a></p>

