---
layout: default
---

{% include home-header.html %}


<ul style="list-style-type: disc; font-size: 0.9em; line-height: 1.4;">
  <li>Committee Member, China Communication Association Technology Committee.</li>
  <li>Remote Sensing, Special Issue: "Imagery Classification and Feature Extraction Based on Hyperspectral Remote Sensing". Guest Editor. Ongoing.</li>
  <li>Remote Sensing, Special Issue: "Pattern Recognition and Image Processing for Remote Sensing II". Guest Editor. Closed.</li>
</ul>
